.logo {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-right: 257px;
  
  font-weight: 600;
  font-size: 22px;
  line-height: calc(33 /22);

  color: var(--color90);

  text-decoration: none;
}
