:root {
    --main-font: 'Poppins', sans-serif;

    // color

    --color55: rgba(255, 255, 255, 0.55);
    --color90: rgba(255, 255, 255, 0.9);
    --color78: rgba(255, 255, 255, 0.78);
    --accent-color: #FF6E30;


}
